Hello
<script>
   function setHref(id){
       if (id.value === ''){
           document.getElementById('rediect').setAttribute("href", '../app_dev.php/search');
       } else {
           var keyword = '../app_dev.php/search/' + id.value;
           document.getElementById('redirect').setAttribute("href", keyword);
       }
   }
</script>
<input type="text" id="keyword" oninput='setHref(this)' />
<a id="redirect" href='../app_dev.php/search'>Submit</a> 

