<style>
    .button {
      font: bold 11px Arial;
      text-decoration: none;
      background-color: #EEEEEE;
      color: #333333;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
    }
</style>
<h3>First solution (link)</h3>
<script>
   function setHref(id){
       if (id.value === ''){
           document.getElementById('redirect').setAttribute("href", '../app_dev.php/search');
       } else {
           var keyword = '../app_dev.php/search?str=' + id.value;
           document.getElementById('redirect').setAttribute("href", keyword);
       }
   }
</script>
<p>
    <input type="text" id="keyword1" oninput='setHref(this)' />
    <a id="redirect" class="button" href='../app_dev.php/search'>Submit</a>
</p>

<h3>Second solution (form)</h3>
<p>
    <form action="../app_dev.php/search" method="GET">
        <input type="text" id="keyword2" name="str" />
        <input type="submit" id="submit" value="Submit"/>
    </form>
</p>

